{#
/**
 * @file
 * Default theme implementation the selectra theme function.
 *
 * Available variables:
 * - pdf_file: path to the PDF file with exercise instructions.
 *
 * @ingroup themeable
 */
#}

<article>
<p>
    To do this exercise you need to choose <b><em>one</em></b> of the three 
    problems to implement and complete to the best of your ability. 
    This exercise should take a few hours to complete.
  </p>
  <p>
    You are to complete this web application that sets up a form, processes 
    the form submission and outputs the results as directed below. This must 
    be done creating a <b><em>Drupal module</em></b>.</p>
  <p>
    For the complete instructions check this 
      <a href="{{ pdf_file }}">document</a>
  </p>
</article>